services:
  postgres:
    image: postgres:15-alpine
    container_name: braners_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    restart: always
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - braners_network

volumes:
  postgres_data:

networks:
  braners_network:
    driver: bridge